<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 p-0 sidebarContainer">
            <div class="d-flex sidebar flex-column flex-shrink-0 p-2">
                <a class="text-center fw-bold fs-4  text-white text-decoration-none">
                    Tableau de bord
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item my-2" [ngClass]="{'fond-bleu': boutonActif === 1}"
                        (click)="showContent('listeFormateurs')" (click)="boutonActif = 1">
                        <a class="nav-link">
                            Liste des classes
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10 border">
            <div class="listeFormateurs p-2" id="listeFormateurs" *ngIf="currentContent === 'listeFormateurs'">

                <h4 class="text-center fw-bold">Liste des classes</h4>
                <div class="trait"></div>
                <div class="trait"></div>
                <button class="btn btn-dark text-light mt-2 mb-2" data-bs-toggle="modal"
                    data-bs-target="#ajoutFormateur">Ajouter une classe
                </button>

                <div class="main-content mt-3">
                    <div class="container mt-7">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="table-responsive overflow-y-scroll" style="height: 35vh;">
                                        <table class="table align-items-center table-flush">
                                            <thead class="sticky-top">
                                                <tr>
                                                    <th scope="col">Nom classe</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let class of tabClasses">
                                                    <td>
                                                        {{class.nom}}
                                                    </td>
                                                    <td>
                                                    <button class="btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#detailMatiere"
                                                        (click)="chargerInfosClasse(class)">Modifier</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>



<!-- Modal ajout Classe -->
<div class="modal fade" id="ajoutFormateur">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold">Ajouter une classe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="nomClasse" class="form-label">Renseigner le nom de la classe: </label>
                                <input type="text" class="form-control" id="nomClasse" name="nomClasse"
                                    [(ngModel)]="nomClasse">
                            </div>
                        </div>
                    </div>

                    <!-- Envoi du formulaire -->
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-dark text-light" (click)="ajoutClassesValider()">Ajouter</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" >Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<!-- Modal modifier Classe -->
<div class="modal fade" id="detailMatiere">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold">Modification Classe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="nomClasse" class="form-label">Nom de la classe: </label>
                                <input type="text" class="form-control" id="nomClasse" name="nomClasse" [(ngModel)]="nom">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modierClasse()">Modifier</button>
            </div>
        </div>
    </div>
</div>


