.trait{
    border: 1px solid #052659;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.formulaireContainer{
    width: 30%;
    margin: 5% auto !important;
    background-color: #3A8EEA;
    color: #FFF;
}